<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Display title -->
    <title>{{ page_title }}</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Filipe Marques">

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- We use Google font to load the typography, which is a bit sad,
         but it avoids making the repo code too long for an example. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <!-- Specific CSS stylesheets -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Filipe Marques",
        "jobTitle": "PhD Student",
        "affiliation": {
          "@type": "Organization",
          "name": "INESC-ID / Instituto Superior Técnico"
        },
        "url": "https://www.filipeom.dev",
        "sameAs": [
          "https://github.com/{{ author.github }}",
          "https://orcid.org/{{ author.orcid }}",
          "https://www.linkedin.com/in/{{ author.linkedin }}"
        ]
      }
    </script>
  </head>
  <body>
    <div class="layout">
      <!-- Header -->
      {% include "includes/header.html" %}

      <!-- Content -->
      <main>
        {%- autoescape false -%} {{ content }} {%- endautoescape -%}
      </main>

      <!-- Footer -->
      {% include "includes/footer.html" %}
    </div>
  </body>
</html>
